    <div class="event-details">
      <h6 class="event-details__title">Event Details</h6>
      <hr/>
      <div class="event-details__info">
        <p><strong>Date:</strong> May 9, 2014</p>
        <p><strong>Time: </strong> 7:30 p.m.</p>
        <p><strong>Location: </strong> Harrisburg Performing Arts Center</p>
        <p><strong>Ticket Info: </strong> $15 for adults, $10 for senior citizens, free to students K-12 and those with a valid Augustana ID.</p>
      </div>
      <a class="event-details__call-to-action" href="#">Buy Tickets</a>
    </div>
