<section class="container feature__list">
	<div class="l-2up--1">
		<h2 class="feature__list-title"><a href="#">News &#10095;</a></h2>
    <!--
<article class="illustrated-list-item">
  <p class="metadata"><span class="month">Apr</span> 16, 2014</p>
  <h1 class="illustrated-list-item__title"><a href="#">History Professors Selected for National Conferences</a></h1>
  <figure class="illustrated-list-item__image">
    <img src="{{ site.baseurl }}/assets/imgs/fpo-16x9.jpg" />
  </figure>
  <p class="illustrated-list-item__summary">Dr. Geoffrey Dipple and Dr. Matthew Pehl of the Augustana History Department have been selected to attend prestigious seminars sponsored by the Council of Independent Colleges (CIC).</p>
</article>-->

    <div class="l-feature__list">
      <article class="feature__list-item">
     		<span class="feature__list-item-metadata"><span class="month">Apr</span> 29, 2014</span>
	      <h1 class="feature__list-item-title"><a href="#">Forbes Gives Top Marks to Sioux Falls, Augustana</a></h1>
      </article>
      <article class="feature__list-item">
     		<span class="feature__list-item-metadata"><span class="month">Apr</span> 19, 2014</span>
	      <h1 class="feature__list-item-title"><a href="#">Miller Named 2013–14 Faculty Recognition Award Recipient</a></h1>
      </article>
      <article class="feature__list-item">
     		<span class="feature__list-item-metadata"><span class="month">Apr</span> 8, 2014</span>
      	<h1 class="feature__list-item-title"><a href="#">Augustana Students Conduct Scientific Research Nationwide</a></h1>
	    </article>
    </div>

	</div>

	<div class="l-2up--2">
		<h2 class="feature__list-title"><a href="#">Events &#10095;</a></h2>
		<article class="l-feature">
		  <a href="#" class="feature">
		    <div class="feature__image--4">
		      <div class="feature__banner">
		        <h1 class="feature__title">Author Terry Tempest Williams</h1>
            <p class="feature__metadata"><span class="month">May</span> 7, 2014 | Event</p>
		      </div>
		    </div>
		  </a>
		</article>

    <div class="l-feature__list">
      <article class="feature__list-item">
     		<span class="feature__list-item-metadata"><span class="month">Apr</span> 29, 2014</span>
	      <h1 class="feature__list-item-title"><a href="#">Forbes Gives Top Marks to Sioux Falls, Augustana</a></h1>
      </article>
      <article class="feature__list-item">
     		<span class="feature__list-item-metadata"><span class="month">Apr</span> 19, 2014</span>
	      <h1 class="feature__list-item-title"><a href="#">Miller Named 2013–14 Faculty Recognition Award Recipient</a></h1>
      </article>
      <article class="feature__list-item">
     		<span class="feature__list-item-metadata"><span class="month">Apr</span> 8, 2014</span>
      	<h1 class="feature__list-item-title"><a href="#">Augustana Students Conduct Scientific Research Nationwide</a></h1>
	    </article>
    </div>

	</div>

</section>
