<div class="l-4up-feature">
  <a href="#" class="feature">
    <div class="feature__image--4">
      <div class="feature__banner">
        <h1 class="feature__title">Author Terry Tempest Williams</h1>
        <p class="feature__metadata"><span class="month">May</span> 7, 2014 | Event</p>
      </div>
    </div>
  </a>
</div>
<div class="l-4up-feature">
  <a href="#" class="feature">
    <div class="feature__image--5">
      <div class="feature__banner">
        <h1 class="feature__title">Gift Inspired by Family Legacy Impacts Today's Education Majors</h1>
        <p class="feature__metadata"><span class="month">Apr</span> 16, 2014 | News</p>
      </div>
    </div>
  </a>
</div>
<div class="l-4up-feature">
  <a href="#" class="feature">
    <div class="feature__image--6">
      <div class="feature__banner">
        <h1 class="feature__title">Freshman Earns Internship at the Met Museum of Art in NYC</h1>
        <p class="feature__metadata"><span class="month">Apr</span> 16, 2014 | News</p>
      </div>
    </div>
  </a>
</div>
<div class="l-4up-feature">
  <a href="#" class="feature">
    <div class="feature__image--7">
      <div class="feature__banner">
        <h1 class="feature__title">Concerto-Aria Concert</h1>
        <p class="feature__metadata"><span class="month">May</span> 9, 2014 | Event</p>
      </div>
    </div>
  </a>
</div>
