<section class="container page hero">
  <div class="l-1up">
    <h1 class="hero__title">Discover our Professors</h1>
    <article class="hero-inline-figure--right">
      <a href="#"><img src="{{ site.baseurl }}/assets/imgs/miller-2-16x9.jpg"/></a>
      <h1 class="hero-inline-figure__title">
        <a href="#">Miller Named 2013–14 Faculty Recognition Award Recipient</a>
      </h1>
    </article>
    <p class="hero__text">With a student-to-faculty ratio of 12:1, Augustana classrooms foster open dialogue, collaboration and critical thinking. Our professors know your name, value your interests, engage you in conversation, and care if you miss class. Our professors are people like Dr. Jeffrey Miller, associate professor of English and Journalism, director of Civitas, and the recipient of the 2013–2014 Augustana Student Association Faculty Recognition Award. <a href="#">Read what current students said about Dr. Miller</a>.</p>
    <ul class="hero__links">
      <li><a href="#">Our Professors</a></li>
      <li><a href="#">English and Journalism</a></li>
      <li><a href="#">Civitas</a></li>
    </ul>
  </div>
</section>
