<div class="img-holder" data-image="{{ site.baseurl }}/assets/imgs/bg-hp3-2.jpg" data-width="1600" data-height="900" data-cover-ratio="0.66"></div>
<section class="container page homepage-item">
  <div class="l-1up">
    <h1 class="homepage-item__title">Discover our Professors</h1>
  </div>
  <div class="l-home-v2--1">
    <figure>
      <a href="#"><img src="{{ site.baseurl }}/assets/imgs/miller-2-16x9.jpg"/></a>
      <figcaption>
        Miller Named 2013–14 Faculty Recognition Award Recipient
      </figcaption>
    </figure>
  </div>
  <div class="l-home-v2--2">
    <p class="homepage-item__text">With a student-to-faculty ratio of 12:1, Augustana classrooms foster open dialogue, collaboration and critical thinking. Our professors know your name, value your interests, engage you in conversation, and care if you miss class. Our professors are people like Dr. Jeffrey Miller, associate professor of English and Journalism, director of Civitas, and the recipient of the 2013–2014 Augustana Student Association Faculty Recognition Award. <a href="#">Read what current students said about Dr. Miller</a>.</p>
  </div>
  <div class="l-home-v2--3">
    <ul class="homepage-item__links">
      <li><a href="#">Our Professors<i class="ss-icon ss-standard">directright</i></a></li>
      <li><a href="#">English and Journalism<i class="ss-icon ss-standard">directright</i></a></li>
      <li><a href="#">Civitas<i class="ss-icon ss-standard">directright</i></a></li>
    </ul>
  </div>
</section>
