<section class="compact-illustrated-list">
  <div class="container">
  	<div class="l-compact-illustrated-list--1">
  		<h4 class="compact-illustrated-list__title"><a href="#">News &#10095;</a></h4>

      <article class="illustrated-list-item">
        <figure class="illustrated-list-item__image">
          <a href="#"><img src="{{ site.baseurl }}/assets/imgs/sioux-falls-2-16x9.jpg"/></a>
        </figure>
        <p class="illustrated-list-item__metadata"><span class="month">May</span> 19, 2014</p>
        <h1 class="illustrated-list-item__title"><a href="#">Forbes Gives Top Marks to Sioux Falls and Augustana</a></h1>
      </article>

      <article class="illustrated-list-item">
        <figure class="illustrated-list-item__image">
          <a href="#"><img src="{{ site.baseurl }}/assets/imgs/miller-2-16x9.jpg"/></a>
        </figure>
        <p class="illustrated-list-item__metadata"><span class="month">May</span> 10, 2014</p>
        <h1 class="illustrated-list-item__title"><a href="#">Miller Named 2013–14 Faculty Recognition Award Recipient</a></h1>
      </article>

      <article class="illustrated-list-item">
        <figure class="illustrated-list-item__image">
          <a href="#"><img src="{{ site.baseurl }}/assets/imgs/marit-16x9.jpg"/></a>
        </figure>
        <p class="illustrated-list-item__metadata"><span class="month">Apr</span> 29, 2014</p>
        <h1 class="illustrated-list-item__title"><a href="#">Freshman Earns Internship at the Metropolitan Museum of Art in NYC</a></h1>
      </article>

  	</div>

  	<div class="l-compact-illustrated-list--2">
  		<h4 class="compact-illustrated-list__title"><a href="#">Events &#10095;</a></h4>

      <article class="illustrated-list-item">
        <figure class="illustrated-list-item__image">
          <a href="#"><img src="{{ site.baseurl }}/assets/imgs/concerto-16x9.jpg"/></a>
        </figure>
        <p class="illustrated-list-item__metadata"><span class="month">May</span> 29, 2014</p>
        <h1 class="illustrated-list-item__title"><a href="#">Concerto-Aria Concert</a></h1>
      </article>

      <article class="illustrated-list-item">
        <figure class="illustrated-list-item__image">
          <a href="#"><img src="{{ site.baseurl }}/assets/imgs/tempest-16x9.jpg"/></a>
        </figure>
        <p class="illustrated-list-item__metadata"><span class="month">Jun</span> 3, 2014</p>
        <h1 class="illustrated-list-item__title"><a href="#">Author Terry Tempest Williams</a></h1>
      </article>

      <article class="illustrated-list-item">
        <figure class="illustrated-list-item__image">
          <a href="#"><img src="{{ site.baseurl }}/assets/imgs/golf-16x9.jpg"/></a>
        </figure>
        <p class="illustrated-list-item__metadata"><span class="month">Jun</span> 6, 2014</p>
        <h1 class="illustrated-list-item__title"><a href="#">22nd Annual Augustana Sam Milanovich Golf Tournament</a></h1>
      </article>

  	</div>
  </div>
</section>
