<article class="illustrated-list-item">
  <p class="metadata"><span class="month">Apr</span> 16, 2014</p>     
  <h1 class="illustrated-list-item__title"><a href="#">History Professors Selected for National Conferences</a></h1>
  <figure class="illustrated-list-item__image">
    <img src="{{ site.baseurl }}/assets/imgs/fpo-16x9.jpg" />
  </figure>
  <p class="illustrated-list-item__summary">Dr. Geoffrey Dipple and Dr. Matthew Pehl of the Augustana History Department have been selected to attend prestigious seminars sponsored by the Council of Independent Colleges (CIC).</p>
</article>

<article class="illustrated-list-item">
  <p class="metadata"><span class="month">Apr</span> 8, 2014</p>   
  <h1 class="illustrated-list-item__title"><a href="#">Freshman Earns Internship at the Metropolitan Museum of Art in NYC</a></h1>
  <figure class="illustrated-list-item__image">
    <img src="{{ site.baseurl }}/assets/imgs/fpo-legacy.png" />
  </figure>
  <p class="illustrated-list-item__summary">This interdisciplinary minor combines textbook theory with real-world practice, teaching the fundamentals of market analysis, financial statements, funding sources, leadership and team building," said Shelly Gardner, assistant professor of Business Administration.</p>
</article>