<article class="illustrated-list-item">
  <p class="metadata"><span class="month">May</span> 7, 2014</p>
  <h1 class="illustrated-list-item__title"><a href="#">Author Terry Tempest Williams</a></h1>
  <figure class="illustrated-list-item__image">
    <img src="{{ site.baseurl }}/assets/imgs/fpo-legacy.png" />
  </figure>
  <p class="illustrated-list-item__summary">Award-winning author Terry Tempest Williams will speak at 7 p.m. on Wednesday, May 7, in Kresge Recital Hall. The event is sponsored by the Union Board of Governors' Culture and Fine Arts Committee. Williams will read and discuss themes from her book, "Finding Beauty in a Broken World."</p>
</article>

<article class="illustrated-list-item">
  <p class="metadata"><span class="month">Apr</span> 30 — <span class="month">May</span> 3, 2014</p>
  <h1 class="illustrated-list-item__title"><a href="#">See 'Picnic' in the Theatre</a></h1>
  <figure class="illustrated-list-item__image">
    <img src="{{ site.baseurl }}/assets/imgs/fpo-16x9.jpg" />
  </figure>
  <p class="illustrated-list-item__summary">The Augustana Performing and Visual Arts will present "Picnic," a play by William Inge, at 7:30 p.m. on April 30-May 3 in the Edith Mortenson Center Theatre. A matinée performance will also be held at 2:30 p.m. on Saturday, May 3.</p>
</article>
