<figure class="in-this-section">
  <h6 class="in-this-section__title">In this section:</h6>
  <hr/>

  <article class="in-this-section-item">
      <a href="#"><img class="in-this-section-item__image" src="{{ site.baseurl }}/assets/imgs/bob-16x9.jpg"/></a>
    <h1 class="in-this-section-item__title"><a href="#">Welcome to Augustana: Greetings from Augustana’s 23rd president, Rob Oliver.</a></h1>
  </article>

  <article class="in-this-section-item">
    <a href="#">
      <img class="in-this-section-item__image" src="{{ site.baseurl }}/assets/imgs/fun-facts-16x9.jpg"/>
    </a>
    <h1 class="in-this-section-item__title"><a href="#">Beyond the Rankings: Facts, figures, and statistics about Augustana College.</a></h1>
  </article>
<!--
  <article class="in-this-section-item">
      <a href="#"><img class="in-this-section-item__image" src="{{ site.baseurl }}/assets/imgs/bob-16x9.jpg"/></a>
    <h1 class="in-this-section-item__title"><a href="#">Welcome to Augustana: Greetings from Augustana’s 23rd president, Rob Oliver.</a></h1>
  </article>

  <article class="in-this-section-item">
    <a href="#">
      <img class="in-this-section-item__image" src="{{ site.baseurl }}/assets/imgs/fun-facts-16x9.jpg"/>
    </a>
    <h1 class="in-this-section-item__title"><a href="#">Beyond the Rankings: Facts, figures, and statistics about Augustana College.</a></h1>
  </article>
-->
</figure>
