<figure class="compact-illustrated-list interest">
  <div class="container">
    <div class="l-1up">
      <h6 class="compact-illustrated-list__title">In this section:</h6>
      <hr/>
    </div>
    <div class="l-compact-illustrated-list--1">
      <article class="illustrated-list-item">
        <figure class="illustrated-list-item__image">
          <a href="#"><img src="{{ site.baseurl }}/assets/imgs/bob-16x9.jpg"/></a>
        </figure>
        <h1 class="illustrated-list-item__title"><a href="#">Welcome to Augustana. Greetings from Augustana’s 23rd president, Rob Oliver.</a></h1>
      </article>
    </div>
    <div class="l-compact-illustrated-list--2">
      <article class="illustrated-list-item">
        <figure class="illustrated-list-item__image">
          <a href="#"><img src="{{ site.baseurl }}/assets/imgs/fun-facts-16x9.jpg"/></a>
        </figure>
        <h1 class="illustrated-list-item__title"><a href="#">Beyond the Rankings. Facts, figures, and statistics about Augustana College.</a></h1>
      </article>
    </div>
  </div>
</figure>
