  <li class="l-portal-list portal-list">
    <a href="#" class="accordion-trigger">Admission</a>
    <ul class="accordion-child accordion-container">
      <article class="l-portal-list-item portal-list-item">
        <header>
          <h4 class="portal-list-item__title"><a href="#">Admission Homepage</a></h4>
        </header>
      </article>
      <article class="l-portal-list-item portal-list-item">
        <header>
          <h4 class="portal-list-item__title"><a href="#">Applying to Augustana</a></h4>
        </header>
      </article>
      <article class="l-portal-list-item portal-list-item">
        <header>
          <h4 class="portal-list-item__title"><a href="#">Financing Your Education</a></h4>
        </header>
      </article>
      <article class="l-portal-list-item portal-list-item">
        <header>
          <h4 class="portal-list-item__title"><a href="#">International Students</a></h4>
        </header>
      </article>
      <article class="l-portal-list-item portal-list-item">
        <header>
          <h4 class="portal-list-item__title"><a href="#">Maps and Directions</a></h4>
        </header>
      </article>
      <article class="l-portal-list-item portal-list-item">
        <header>
          <h4 class="portal-list-item__title"><a href="#">Scholarships</a></h4>
        </header>
      </article>
      <article class="l-portal-list-item portal-list-item">
        <header>
          <h4 class="portal-list-item__title"><a href="#">Visiting Campus</a></h4>
        </header>
      </article>
      <article class="l-portal-list-item portal-list-item">
        <header>
          <h4 class="portal-list-item__title"><a href="#">Why Augustana?</a></h4>
        </header>
      </article>
    </ul>
  </li>
