<div class="side-bar">
  <nav class="side-nav">
    <a class="side-nav__navlink back" href="#">Back</a>
    <a class="side-nav__navlink" href="#">Sub Navigation Item One</a>
    <a class="side-nav__navlink" href="#">Sub Navigation Item Two here is a really long one test can we wax poetic and get to three, count 'em three lines<i class="ss-icon ss-standard"><span class="test">directright</span></i></a>
    <a class="side-nav__navlink" href="#">Sub Navigation Item Three</a>
    <a class="side-nav__navlink" href="#">Sub Navigation Item Four<i class="ss-icon ss-standard"><span class="test">directright</span></i></a>
    <a class="side-nav__navlink" href="#">Sub Navigation Item Four<i class="ss-icon ss-standard"><span class="test">directright</span></i></a>
  </nav>
</div>
