<div class="side-bar">
  <nav class="side-nav">
    <a class="side-nav__navlink back" href="#">Back</a>
    <a class="side-nav__navlink" href="#">Quick Facts</a>
    <a class="side-nav__navlink" href="#">History</a>
    <a class="side-nav__navlink" href="#">Mission, Values and Vision<i class="ss-icon ss-standard"><span class="test">directright</span></i></a>
    <a class="side-nav__navlink" href="#">Accreditation</a>
    <a class="side-nav__navlink" href="#">College Leadership<i class="ss-icon ss-standard"><span class="test">directright</span></i></a>
    <a class="side-nav__navlink" href="#">Maps &amp; Directions<i class="ss-icon ss-standard"><span class="test">directright</span></i></a>
    <a class="side-nav__navlink" href="#">College Offices and Affiliates<i class="ss-icon ss-standard"><span class="test">directright</span></i></a>
    <a class="side-nav__navlink" href="#">Employment Opportunities</a>
  </nav>

  <div class="related-links">
    <header>
      <h6>See Also:</h6>
    </header>
    <nav>
      <a class="related-nav__navlink" href="#">Why Augustana?</a>
      <a class="related-nav__navlink" href="#">Value Proposition</a>
      <a class="related-nav__navlink" href="#">City of Sioux Falls</a>
    </nav>
  </div>
</div>
