<footer class="l-site-footer site-footer">
  {% include color-stripe.html %}
  <div class="container">
    <div class="l-1up footer-top">
      <a href="{{ site.baseurl }}/" class="site-logo"></a>
      <div class="footer__buttons">
        <a class="button" href="#">Apply Today!</a>
        <a class="button" href="#">Request Information</a>
      </div>
      <hr/>
    </div>

    <div class="l-1up footer-links">
      <nav class="l-4up">
        <header class="element-invisible">
          <h2>Primary Navigation</h2>
        </header>
        <a class="navlink" href="#">About</a>
        <a class="navlink" href="#">Admission</a>
        <a class="navlink" href="#">Academics</a>
        <a class="navlink" href="#">Student Life</a>
        <a class="navlink" href="#">Sioux Falls</a>
        <a class="navlink" href="#">Athletics</a>
        <a class="navlink" href="#">The Arts</a>
      </nav>

      <nav class="l-4up">
        <header class="element-invisible">
          <h2>Audience Portals</h2>
        </header>
        <a class="navlink" href="#">Current Students</a>
        <a class="navlink" href="#">Faculty &amp; Staff</a>
        <a class="navlink" href="#">Parents</a>
        <a class="navlink off-site" href="#">Alumni</a>
      </nav>

      <nav class="l-4up">
        <header class="element-invisible">
          <h2>Utility Navigation</h2>
        </header>
        <a class="navlink" href="#">Giving to Augustana</a>
        <a class="navlink" href="#">Maps &amp; Directions</a>
        <a class="navlink" href="#">News</a>
        <a class="navlink" href="#">Events</a>
        <a class="navlink off-site" href="#">my.augie.edu</a>
      </nav>

      <nav class="l-4up">
        <header class="element-invisible">
          <h2>Social Media Channels</h2>
        </header>
        <a class="navlink" href="#"><i class="ss-icon ss-social-regular ss-facebook"></i>On Facebook</a>
        <a class="navlink" href="#"><i class="ss-icon ss-social-regular ss-twitter"></i>On Twitter</a>
        <a class="navlink" href="#"><i class="ss-icon ss-social-regular ss-instagram"></i>On Instagram</a>
        <a class="navlink" href="#"><i class="ss-icon ss-social-regular ss-youtube"></i>On YouTube</a>
        <a class="navlink" href="#"><i class="ss-icon ss-social-regular ss-linkedin"></i>On LinkedIn</a>
        <a class="navlink" href="#"><i class="ss-icon ss-social-regular ss-googleplus"></i>On Google+</a>
      </nav>
    </div>

    <div class="l-1up footer-bottom">
      <p class="copyright">&copy;2014 Augustana College. All rights reserved.</p>
      <p class="bottom-links"><a href="#">Contact Us</a> | <a href="#">Privacy Policy</a> | <a href="#">RSS</a></p>
    </div>

  </div>
</footer>
