---
publish: false
layout: post
title: Homepage Item (Option 2)
description: The homepage consists of items which are comprised of a news or event item and some marketing copy and links to direct users to other parts of the site.
categories: Components
---
<section class="styleguide-example">
  {% include homepage-2-item.html %}
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include homepage-2-item.html %}
{% endhighlight %}
  </div>
</section>
