---
layout: post
title: Sharing Buttons
description: The sharing buttons allow a user to share an article or event via their social media account of choice, including email, Facebook, Twitter, LinkedIn, and Google+.
categories: Components
---
<section class="styleguide-example">
  <div class="container">
    <div class="l-66-33--1">
      {% include social-buttons.html %}
    </div>
  </div>
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include social-buttons.html %}
{% endhighlight %}
  </div>
</section>
