---
layout: default
title: General Page (News Article Legacy)
description: News article page with a legacy-sized lede image.
categories: Templates
id-name: general
---

<div class="container page">

  <article class="l-66-33--1">

    <header>
      <p class="metadata"><span class="month">Apr</span> 9, 2014</p>
      <h1>Freshman Earns Internship at the Metropolitan Museum of Art in NYC</h1>
    </header>

    <figure class="legacy-image">
      <img src="{{ site.baseurl }}/assets/imgs/fpo-legacy--sample.jpg"/>
    </figure>

    <p>New York's famed <a href="http://www.metmuseum.org/en">Metropolitan Museum of Art</a> is home to 2 million pieces of art covering nearly 5,000 years of history. It's widely considered the largest and most diverse museum in the Western Hemisphere. And it's where freshman Marit Lhotzky will spend her summer.</p>

    <p>Lhotzky was one of only eight students from around the globe selected for the nine-week internship program at <a href="http://www.metmuseum.org/visit/visit-the-cloisters">The Cloisters museum and gardens</a>, the branch of the Met devoted to the art of medieval Europe. It's filled with architectural elements that, according to the museum's website, "largely date from the 12<sup>th</sup> through the 15<sup>th</sup> century."</p>

    <p>A double major in <a href="http://www.augie.edu/academics/history">History</a> and <a href="http://www.augie.edu/academics/academic-catalog/classics">Classics</a> with a minor in <a href="http://www.augie.edu/academics/art">Art</a>, Lhotzky has focused her concentration at Augustana on medieval studies.</p>

    <p>As an intern, she'll receive intensive training on the museum's collection to share with day camp and adult visitors. She'll also take part in seminars, meetings and workshops to acquire a broad knowledge of the artwork and architecture of medieval times, such as stained glass and reliquaries, containers for storing sacred relics.</p>

        <figure class="inline-figure--left">
          <img src="{{ site.baseurl }}/assets/imgs/sample-1.jpg"/>
          <figcaption>
            Campus officials and the school’s nearly 1,800 students are planning a number of commemorative events to celebrate the College’s 150th year.
          </figcaption>
        </figure>

    <p>In addition, she'll attend lectures, visit other art institutions, and research art history topics of interest, which she will eventually convert into a public tour and present to visitors, staff and The Cloisters director at the conclusion of her internship.</p>

    <p>Lhotzky, who is interested in a career in museum work, is also looking forward to learning about the inner workings of a modern-day museum. According to its website, the Met has "2,000 full-time staff and 950 volunteers working on a variety of collections; like a small university with many departments."</p>

    <p>College officials say Lhotzky's sense of where she wants to head professionally will continue to open doors for her as she progresses through her college career.</p>

    <p>"Marit is a unique freshman in that she knew what vocational goals she wanted to strive toward from the moment she stepped foot on campus. She has been taking advantage of everything that Augustana and Sioux Falls has to offer," said <a href="http://www.augie.edu/academics/art/faculty#twa">Dr. Lindsay Twa,</a> assistant professor of Art and director of Augustana's <a href="http://www.augie.edu/arts/art-galleries-and-exhibits/eide-dalrymple-gallery">Eide/Dalrymple Gallery</a>. "She has tailored her research papers within her courses to focus on medieval studies and art history, and has already begun volunteering at the Eide/Dalrymple Gallery on campus and, off campus, at the Washington Pavilion Visual Art Center and the Siouxland Heritage Museums."&nbsp;</p>

    <p>"By being able to work closely with her professors, even as a freshman, she is already honing the writing, research and communication skills that will allow her to achieve her ambitions. Working so closely with several faculty is something that she probably would not have been able to do so early in her academic career if she had picked a larger university with majors in art history or museum studies," Twa said.</p>

    {% include social-buttons.html %}
  </article>

  <aside class="l-66-33--2">
    {% include side-nav.html %}
  </aside>

</div>
