---
layout: post
title: Side Navigation
description: The side-nav component is made up of menu items from within the same section. Arrows on the right indicate items with child-pages. "See Also:" links underneath allow for cross-section linking.
categories: Components
---
<section class="styleguide-example">
  <div class="container">
    <div class="l-66-33--2">
      {% include side-nav.html %}
    </div>
  </div>
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include side-nav.html %}
{% endhighlight %}
  </div>
</section>
