---
layout: post
title: Pagination
description: This is the pager used throughout the site. It appears on any listing page that has more than ten items. This particular example shows that the user is currently on page one of three pages.
categories: Components
---
<section class="styleguide-example">
  <div class="container">
    <div class="l-66-33--1">
    {% include pagination.html %}
    </div>
  </div>
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include pagination.html %}
{% endhighlight %}
  </div>
</section>
