---
published: false
layout: post
title: Feature Stripe
description: Four pieces of section specific content can be promoted to the "feature" section of a Landing page. These components display an image, title, and metadata.
categories: Components
---
<section class="styleguide-example">
  {% include feature--stripe.html %}
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include feature--stripe.html %}
{% endhighlight %}
  </div>
</section>
