---
layout: post
title: Hero
description: The hero component displays introductory-level information and can includes a title, text field, a featured node element (or embedded video), call-to-action buttons, or link lists. It's used by the homepage, landing page, and portal page templates.
categories: Components
---

<section class="styleguide-example">
  {% include hero.html %}
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include hero.html %}
{% endhighlight %}
  </div>
</section>
