---
layout: post
title: Note
description: The note component is for displaying timely messages to the user. It goes in the body of a page and can be left- or right-aligned.
categories: Components
---
<section class="styleguide-example">
  <div class="container">
    <article class="l-66-33--1">
      {% include note--left.html %}
    </article>
  </div>
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include note--left.html %}
{% endhighlight %}
  </div>
</section>
